/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: 'Comic Book';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Comic Book.otf');
  }

/* Propiedades generales */



* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

a {
    text-decoration: none;
    
}

body {
    font-family: 'Roboto', sans-serif;
}

/*--- Header ----------------------*/
.header-top {
    background-color: #1CD1B0;
    font-size: 15px;
    height: 38px;
    padding: 10px;
}

header {
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.24);
    background: #00669F url(../img/background.png) repeat;
    height: 140px;
    position: sticky;
    top: -39px;
    z-index: 99;
}

header h1 {
    font-family: 'Comic Book', sans-serif;
    font-size: 58px;
    font-weight: normal;
    padding: 10px 60px;
}

/*--- Main ------------------------------------ */

/* Seccion Lista Heroes */
.lista-heroes {
    padding: 50px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 4rem 1.5rem ;
}

/* Cards */
.card{
    border-radius: 20px 20px 0 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.24);
    position: relative;
    width: 300px;
    background-color: #F3F3F3;

}

/* Contenedor del fondo del personaje */
.card-imagen {
    height: 12rem;
    border-radius: 20px 20px 0 0;
    background-size: cover;
}

/* Imagen de fondo del personaje */


.card-imagen.batman {
background-image: url(../img/back-batman.png);
}

.card-imagen.harley {
background-image: url(../img/back-harley.png);
}

.card-imagen.superman {
background-image: url(../img/back-superman.png);
}

.card-imagen.wonder {
background-image: url(../img/back-wonder.png);
}



/* Contenedor texto */
.card-texto {
    position: relative;
    padding: 4rem 1.5rem 6rem;
}

/* Titulo de la card (nombre del heroe) */
.card-texto h2 {
    color: #000;
    font-family: 'Comic Book', sans-serif;
    font-size: 1.7rem;
    padding: 1rem 0.5rem;
    text-align: center;
}

/* Parrafo de la card */
.card-texto p
{
    font-size: 16px;
    color: #333333;
    /* padding: 0 17px; */
    text-align: center;
}

/* Retrato del Heroe */
.img-heroe {
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    left: calc(50% - 60px);
    position: absolute;
    top: -60px;
    width: 7.5rem;
}

/* Corazon */
.fav {
    position: absolute;
    left: 20px;
    top: 20px;
}

/* Boton Ver mas */
.ver-mas {
    background-color: #00669F;
    bottom: 1.2rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.24);
    color:#F3F3F3;
    display: inline-block;
    font-size: 1rem;
    padding: 1rem 2rem;
    position: absolute;
    right: calc(50% - 64px);
    border-radius: 5px;
}

.ver-mas:hover {
    font-weight: bold;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.24);
    bottom: 1.3rem;
    background-color: #0082ce;
    }

/* Boton mas */
.boton-mas {
    display: none;
}


/*--- Footer ---------------------------------------------*/

footer {
    background-color: #00669F;
    color: #FFF9F9;
    height: 51px;
    font-size: 16px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

footer>a>img {
    height: 20px;
}

@media screen and (max-width:768px){

.boton-mas {
    display: initial;
    background-color: #00669F;
    color: #FFF9F9;
    height: 3rem;
    width: 3rem;
    text-align: center;
    font-size: 2rem;
    position: fixed;
    top: 50vh;
    padding-top: 0.28rem;
    right: 1rem;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.24);

}



.card-imagen.harley {
    background-image: url(../img/back-harley-tablet.png);
    }

.card-imagen.batman {
    background-image: url(../img/back-batman-tablet.png);
    }

}