/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: 'Comic Book';
    font-style: normal;
    font-weight: 400;
    src: url('../fontsComic Book.otf');
  }

/* Propiedades generales */
* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

a {
    text-decoration: none;
    
}

body {
    font-family: 'Roboto', sans-serif;
}

/*--- Header ----------------------*/
.pre-header {
    background-color: #1CD1B0;
    font-size: 15px;
    height: 38px;
    padding: 10px;
}

header {
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.24);
    background: #00669F url(../img/background.png) repeat;
    height: 101px;
    position: sticky;
    top: -1px;
    z-index: 99;
}

header h1 {
    font-family: 'Comic Book', sans-serif;
    font-size: 58px;
    font-weight: normal;
    padding: 10px 60px;
}

/*--- Main ------------------------------------ */

/* Seccion Lista Heroes */
.lista-heroes {
    padding: 150px 15px;
}

/* Cards */
.card{
    border-radius: 20px 20px 0 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.24);
    display: inline-block;
    margin: 15px;
    position: relative;
    width: 300px;
}

/* Contenedor del fondo del personaje */
.card-imagen {
    height: 194px;
    position: relative;
}

/* Imagen de fondo del personaje */
.card-imagen img {
    border-radius: 20px 20px 0 0;
}

/* Contenedor texto */
.card-texto {
    background-color: #F3F3F3;
    height: 336px;
    position: relative;
}

/* Titulo de la card (nombre del heroe) */
.card-texto h2 {
    color: #000;
    font-family: 'Comic Book', sans-serif;
    font-size: 27px;
    padding: 75px 64px 10px;
    text-align: center;
}

/* Parrafo de la card */
.card-texto p
{
    font-size: 16px;
    color: #333333;
    padding: 0 17px;
    text-align: justify;
}

/* Retrato del Heroe */
.img-heroe {
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    left: calc(50% - 60px);
    position: absolute;
    top: -60px;
}

/* Corazon */
.fav {
    position: absolute;
    left: 20px;
    top: 20px;
}

/* Boton Ver mas */
.ver-mas {
    background-color: #00669F;
    bottom: 18px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.24);
    color:#F3F3F3;
    display: inline-block;
    font-size: 15px;
    line-height: 48px;
    position: absolute;
    right: calc(50% - 64px);
    text-align: center;
    vertical-align: middle;
    width: 128px;
}

/*--- Footer ---------------------------------------------*/

footer {
    background-color: #00669F;
    color: #FFF9F9;
    height: 51px;
    font-size: 16px;
    padding: 16px;
}